
.dashboard-heading-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 50px;
}
.dashboard-heading-img-box {
    display: flex;
    align-items: center;
}
.dashboard-heading-img-box i{
    color: #ED9700;
}
.dashboard-heading-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-right: 20px;
}
.create-course-btn {
    padding: 10px 20px;
    border: 1px solid var(--color-primary);
    border-radius: 7px;
    color: var(--color-primary);
}
.create-course-btn:hover {
    border: none;
    background-color: var(--color-second);
    color: white;
}
.create-course-btn i{
    margin-right: 10px;
}
.dashboard-list-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
}
.dashboard-list-menu button {
    width: 98.5%;
    padding: 15px 20px;
    text-align: left;
    color: var(--color-second);
    font-size: 18px;
    display: flex;
    align-items: center;
}
.dashboard-list-menu i {
    font-size: 24px;
    margin-right: 10px;
    width: 30px;
}
.activeButton {
    background-color: var(--color-primary);
    color: white !important;
    border-radius: 10px;
  }
.dashboard-list-content {
    padding: 30px 0 0 30px;
}
.dashboard {
    padding: 30px;
}
@media (min-width: 768px) {
    .dashboard {
        padding: 30px 60px;
    }
    .dashboard-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .dashboard-list-menu {
        border-right: 1px solid gray;
    }
}

@media (min-width: 1024px) {
    .dashboard {
        padding: 60px 120px;
    }
}